@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4 text-center"><span class="particletext bubbles">Jouer à WordleS</span></h1>
    <div class="my-5">
        <p>Décrire les règles ici</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="Index">Jouer à WordlS !</a>
    </div>
</div>
